
<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container-intro">
        <div class="row m-0">
          <div class="col-sm-12">
            <div class="page-header float-left">
              <div class="page-title">
                <h2 class="title-1">Project</h2>
                <h3 class="title-1">View tasks and documents related to this project</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="content-section-c">
          <div class="container-tabs">
            <div class="row-lg-12">
              <div class="tabbable">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#pane1" data-toggle="tab">Tasks</a></li>
                  <li><a href="#pane2" data-toggle="tab">Schedule</a></li>
                  <li><a href="#pane3" data-toggle="tab">Catch Up</a></li>
                  <li><a href="#pane4" data-toggle="tab">Files</a></li>
                </ul>
                <div class="tab-content">
                  <div id="pane1" class="tab-pane active">
                  </div>
                  <!-- /.container -->
                </div>
                <!-- /.content-section-c -->
              </div>
            </div>
          </div>
        </div><br>
        <div class="container-teams">
          <div class="row">
            <div class="col-sm-4">
              <div class="au-card team-card">
                <div class="au-card-inner">
                  <h3 class="title-2 tm-b-5">Social Media team</h3>
                  <div class="chart-note-wrap">
                    <div class="chart-note mr-0 d-block">
                      <span class="dot dot--blue"></span>
                      <span>2 tasks</span>
                    </div>
                    <div class="chart-note mr-0 d-flex justify-content-end">
                      <span class="dot dot--blue"></span>
                      <span>%</span>
                    </div>
                    <div class="chart-note mr-0 d-block">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'background-color':'red','width':value+'%'}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-sm-4">
              <div class="au-card team-card">
                <div class="au-card-inner">
                  <h3 class="title-2 tm-b-5">Dev team</h3>
                  <div class="chart-note-wrap">
                    <div class="chart-note mr-0 d-block">
                      <span class="dot dot--blue"></span>
                      <span>3 tasks</span>
                    </div>
                    <div class="chart-note mr-0 d-flex justify-content-end">
                      <span class="dot dot--blue"></span>
                      <span>%</span>
                    </div>
                    <div class="chart-note mr-0 d-block">
                      <div class="progress">
                        <div class="progress-bar progress-bar-success"
                             role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'background-color':'green','width':digit+'%'}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-sm-4">
              <div class="au-card team-card">
                <div class="au-card-inner">
                  <h3 class="title-2 tm-b-5">Business development team</h3>
                  <div class="chart-note-wrap">
                    <div class="chart-note mr-0 d-block">
                      <span class="dot dot--blue"></span>
                      <span>3 tasks</span>
                    </div>
                    <div class="chart-note mr-0 d-flex justify-content-end">
                      <span class="dot dot--blue"></span>
                      <span>%</span>
                    </div>
                    <div class="chart-note mr-0 d-block">
                      <div class="progress">
                        <div class="progress-bar progress-bar-success"
                             role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'background-color':'blue','width':random+'%'}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

