.title1
  display: flex
  justify-content: center
  padding-left: 20px

.title2
  display: flex
  justify-content: center

label
  font-family: Montserrat
  font-size: 13px

.form-signin
  border: 1px solid #F2F2F2
  max-width: 380px
  padding: 15px
  padding-left: 30px
  padding-right: 60px
  position: absolute
  margin-top: 100px
  margin-left: 450px
  position: absolute
  height: fit-content
  left: 0%
  right: 0%
  top: 6.88%
  bottom: 0%
  background: #FFFFFF
  box-sizing: border-box
  box-shadow: 0px 5px 18px rgba(180, 180, 180, 0.25)
  border-radius: 10px

.form-signin .form-control
  position: relative
  font-size: 13px
  height: 30px
  padding: 12px
  margin: 5px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.form-signin .form-control:focus
  z-index: 2
  color: #1D1E56

.form-signin .form-control .btn
  display: block
  color: #1D1E56

.form-signin #remember
  font-size: 13px

.form-signin #forgot-password
  font-size: 13px
  color: #1D1E56

.account-wall
  margin-top: 20px
  padding: 40px 0px 20px 0px
  background-color: #f7f7f7
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)


.btn-submit
  background-color: #1D1E56
  color: #e5e5e5
  width: 100px
  font-family: Montserrat
  font-size: 13px
  margin-left: 5px
  text-align: center

.form-group .input
  height: 10px
